
.conteiner-bag{
    position: relative;
    display: flex;
    align-items: center;
}

.bag{
    color: var(--marronOscuro);
    font-size: 50px;
}

.number{
    position: absolute;
    top: 53px;
    left: 20px;
    color: var(--blanco);
    font-weight: 600;
}