.Navbar{
    background-color: rgba(255, 255, 255, 0.767);
}

.navbar-contenedor{
    display: flex;
    justify-content: space-between;
}

.navbar-img img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
}


.link-menu{
text-decoration: none;
color: var(--marronOscuro);
font-size: 20px;
font-weight: 500;
margin-left: 8px;
margin-right: 8px;
}

.menu button:hover{
    color: var(--marronClaro);
}

.barns{
    color: var(--marronOscuro);
    font-size: 50px;
    margin-top: 35px;
    display: none;
}



@media screen and (max-width: 1200px){
    .menu button{
        font-size: 15px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 991px) {
    .barns{
        display: block;
    }

    .menu {
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 118px;
        right: -100%;
        display: flex;
        flex-direction: column;
        transition: right 0.5s ease-in;
        background-color: var(--blanco);
      }
      
      .menu.active {
        right: 0;
      }
      
      
      .Navbar.menu-open .menu {
        right: 0;
      }
   
      .link-menu{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
   
}
    

