
*{
    
    @font-face {
        font-family: "DIN Neuzeit Grotesk LT W01 BdCn";
        src: url("https://db.onlinewebfonts.com/t/bb2e1211dfd31103079dbce7c49e1d4e.eot");
        src: url("https://db.onlinewebfonts.com/t/bb2e1211dfd31103079dbce7c49e1d4e.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/bb2e1211dfd31103079dbce7c49e1d4e.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/bb2e1211dfd31103079dbce7c49e1d4e.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/bb2e1211dfd31103079dbce7c49e1d4e.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/bb2e1211dfd31103079dbce7c49e1d4e.svg#DIN Neuzeit Grotesk LT W01 BdCn")format("svg");
    }
}

:root{
    --marronOscuro: #826f52;
    --marronClaro: #a69376;
    --blanco: #fff;
    --marronOscuro2: #645844;
    --gris: #d8d1c6;
    --marronText: #6f6a55;
    --celeste: #2fc4c6;
    --celesteHover: #6dd6d7;
    --negro: black;
    --grisOscuro: #797979;
    --amarillo: #a9b709;
 }

